apiVersion: v1
kind: Secret
metadata:
  name: gateway-secret
type: Opaque
stringData:
  REDIS_DB: "1"
  REDIS_HOST: "users-redis"
  REDIS_PORT: "6379"

  BACKEND_CORS_ORIGINS: "http://localhost:8003,http://127.0.0.1:8003"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: gateway:latest
        imagePullPolicy: Never
        command:
        - uvicorn
        - main:app
        - --host
        - 0.0.0.0
        - --port
        - "8003"
        - --workers
        - "1"
        ports:
        - containerPort: 8003
        envFrom:
          - secretRef:
              name: gateway-secret
        readinessProbe:
          httpGet:
            path: /health/
            port: 8003
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 5
        livenessProbe:
          httpGet:
            path: /health/
            port: 8003
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 5
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  selector:
    app: gateway
  ports:
  - protocol: TCP
    port: 8003
    targetPort: 8003
  type: ClusterIP