apiVersion: apps/v1
kind: Deployment
metadata:
  name: products-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: products-service
  template:
    metadata:
      labels:
        app: products-service
    spec:
      containers:
      - name: products-service
        image: products-service:latest
        command:
        - uvicorn
        - main:app
        - --host
        - 0.0.0.0
        - --port
        - "8001"
        - --workers
        - "1"
        ports:
        - containerPort: 8001
        envFrom:
          - secretRef:
              name: products-secret
        readinessProbe:
          httpGet:
            path: /docs
            port: 8001
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 5
        livenessProbe:
          httpGet:
            path: /docs
            port: 8001
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 5
          
---
apiVersion: v1
kind: Service
metadata:
  name: products-service
spec:
  selector:
    app: products-service
  ports:
  - protocol: TCP
    port: 8001
    targetPort: 8001
  type: ClusterIP 
  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: products-tracker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: products-tracker
  template:
    metadata:
      labels:
        app: products-tracker
    spec:
      containers:
      - name: products-tracker
        image: products-service:latest  # Same image as products-service
        command:
        - python
        - -m
        - events.products_tracker
        envFrom:
          - secretRef:
              name: products-secret