services:
  # Users
  users_redis:
    image: redis:7.0.11-alpine
    container_name: redis_users
    networks:
      - services_network
    volumes:
      - redis_users_data:/data
    ports:
      - "6379"
    restart: on-failure

  users_db:
    image: postgres
    container_name: db_users
    restart: on-failure
    env_file:
      - ./services/users/.env
    volumes:
      - postgres_users_data:/var/lib/postgresql/data
    ports:
      - "5432"
    networks:
      - services_network

  users_service:
    build:
      context: ./services/users
      dockerfile: Dockerfile
    container_name: users_service
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000" 
    volumes:
      - ./services/users:/app/
    ports:
      - "8000:8000" # dont expose port with production mode
    env_file:
      - ./services/users/.env
    depends_on:
      - users_redis
      - users_db
    networks:
      - services_network
      - keycloak_keycloak_network

  # Products
  products_redis:
    image: redis:7.0.11-alpine
    container_name: redis_products
    volumes:
      - redis_products_data:/data
    ports:
      - "6380"
    restart: on-failure
    networks:
      - services_network

  products_service:
    build:
      context: ./services/products
      dockerfile: Dockerfile
    container_name: products_service
    ports:
      - "8001:8001" # dont expose port with production mode
    env_file:
      - ./services/products/.env
    depends_on:
      - products_redis
      - products_db
    networks:
      - services_network
      - keycloak_keycloak_network
    volumes:
      - ./services/products/app:/app/

  products_db:
    image: postgres
    container_name: db_products
    restart: on-failure
    env_file:
      - ./services/products/.env
    volumes:
      - postgres_products_data:/var/lib/postgresql/data
    ports:
      - "5434"
    networks:
      - services_network

  # Orders
  orders_service:
    build:
      context: ./services/orders
      dockerfile: Dockerfile
    container_name: orders_service
    ports:
      - "8002:8002" # dont expose port with production mode
    env_file:
      - ./services/orders/.env
    depends_on:
      - orders_mongodb
    networks:
      - services_network
      - keycloak_keycloak_network
    volumes:
      - ./services/orders/app:/app/

  orders_mongodb:
    image: mongo
    container_name: orders_mongodb
    restart: on-failure
    env_file:
      - ./services/orders/.env
    volumes:
      - mongo_orders_data:/data/db
    ports:
      - "27017"
    networks:
      - services_network

  orders_tracker:
    build:
      context: ./services/orders
      dockerfile: Dockerfile
    container_name: orders_tracker
    command: python -m events.orders_tracker
    env_file:
      - ./services/orders/.env
    depends_on:
      - orders_service
    networks:
      - services_network
    volumes:
      - ./services/orders/app:/app/

  # Notifications
  notifications_redis:
    image: redis:7.0.11-alpine
    container_name: redis_notifications
    volumes:
      - redis_notifications_data:/data
    ports:
      - "6381"
    restart: on-failure
    networks:
      - services_network

  notifications_service:
    build:
      context: ./services/notifications
      dockerfile: Dockerfile
    container_name: notifications_service
    ports:
      - "8004:8004" # dont expose port with production mode
    env_file:
      - ./services/notifications/.env
    depends_on:
      - notifications_redis
    networks:
      - services_network
    volumes:
      - ./services/notifications/app:/app/

  notifications_consumer:
    build:
      context: ./services/notifications
      dockerfile: Dockerfile
    env_file:
      - ./services/notifications/.env
    depends_on:
      - notifications_service
      - kafka
    networks:
      - services_network
    volumes:
      - ./services/notifications/app:/app/
    command: ["python", "-m", "consumer"]
    deploy:
      replicas: 3
    restart: on-failure

  # Gateway
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    container_name: gateway
    ports:
      - "8003:8003"
    env_file:
      - ./gateway/.env  # Optional: for any env vars
    depends_on:
      - users_service
      - products_service
      - orders_service
      - users_redis  # For rate limiting
    networks:
      - services_network
    volumes:
      - ./gateway:/app/
    restart: on-failure
  
  # Kafka(event broker)
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092"
    networks:
      - services_network
    environment:
      KAFKA_KRAFT_MODE: 'true'

      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs

    volumes:
      - kafka_kraft:/var/lib/kafka/data

  # Extra
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    networks:
      - services_network
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin

  mongo-express:
    image: mongo-express
    container_name: mongo_express
    restart: always
    ports:
      - 8081:8081
    networks:
      - services_network
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@orders_mongodb:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin


volumes:
  postgres_users_data:
  redis_users_data:
  postgres_products_data:
  redis_products_data:
  mongo_orders_data:
  redis_notifications_data:
  kafka_kraft:


networks:
  services_network:
    driver: bridge

  keycloak_keycloak_network:
    external: true