services:
  # Users

  users_redis:
    image: redis:7.0.11-alpine
    container_name: redis_users
    networks:
      - services_network
    volumes:
      - redis_users_data:/data
    ports:
      - "6379"
    restart: on-failure

  users_db:
    image: postgres
    container_name: db_users
    restart: on-failure
    env_file:
      - ./services/users/.env
    volumes:
      - postgres_users_data:/var/lib/postgresql/data
    ports:
      - "5432"
    networks:
      - services_network

  users_service:
    build:
      context: ./services/users
      dockerfile: Dockerfile
    container_name: users_service
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000" 
    volumes:
      - ./services/users:/app/
    ports:
      - "8000:8000" # dont expose port with production mode
    env_file:
      - ./services/users/.env
    depends_on:
      - users_redis
      - users_db
    networks:
      - services_network
      - keycloak_keycloak_network

  # Products
  products_redis:
    image: redis:7.0.11-alpine
    container_name: redis_products
    volumes:
      - redis_products_data:/data
    ports:
      - "6380"
    restart: on-failure
    networks:
      - services_network

  products_service:
    build:
      context: ./services/products
      dockerfile: Dockerfile
    container_name: products_service
    ports:
      - "8001:8001" # dont expose port with production mode
    env_file:
      - ./services/products/.env
    depends_on:
      - products_redis
      - products_db
    networks:
      - services_network
      - keycloak_keycloak_network
    volumes:
      - ./services/products/app:/app/

  products_db:
    image: postgres
    container_name: db_products
    restart: on-failure
    env_file:
      - ./services/products/.env
    volumes:
      - postgres_products_data:/var/lib/postgresql/data
    ports:
      - "5434"
    networks:
      - services_network

  # Orders
  orders_redis:
    image: redis:7.0.11-alpine
    container_name: redis_orders
    volumes:
      - redis_orders_data:/data
    ports:
      - "6380"
    restart: on-failure
    networks:
      - services_network

  orders_service:
    build:
      context: ./services/orders
      dockerfile: Dockerfile
    container_name: orders_service
    ports:
      - "8002:8002" # dont expose port with production mode
    env_file:
      - ./services/orders/.env
    depends_on:
      - orders_redis
      - orders_mongodb
    networks:
      - services_network
      - keycloak_keycloak_network
    volumes:
      - ./services/orders/app:/app/

  orders_mongodb:
    image: mongo
    container_name: orders_mongodb
    restart: on-failure
    env_file:
      - ./services/orders/.env
    volumes:
      - mongo_orders_data:/data/db
    ports:
      - "27017"
    networks:
      - services_network

  # Extra
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    ports:
      - "5050:5050"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin

  mongo-express:
    image: mongo-express
    container_name: mongo_express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin


volumes:
  postgres_users_data:
  redis_users_data:
  postgres_products_data:
  redis_products_data:
  mongo_orders_data:
  redis_orders_data:


networks:
  services_network:
    driver: bridge

  keycloak_keycloak_network:
    external: true